@font-face {
    font-family: 'FrutigerLTStd67BoldCondensed';
    src: url('frutigerltstd-boldcn.eot');
    src: url('frutigerltstd-boldcn.eot') format('embedded-opentype'),
         url('frutigerltstd-boldcn.woff') format('woff'),
         url('frutigerltstd-boldcn.ttf') format('truetype'),
         url('frutigerltstd-boldcn.svg#FrutigerLTStd67BoldCondensed') format('svg');
}
