@font-face {
    font-family: 'FrutigerLTCom57Condensed';
    src: url('frutigerltcom-condensed.eot');
    src: url('frutigerltcom-condensed.eot') format('embedded-opentype'),
         url('frutigerltcom-condensed.woff') format('woff'),
         url('frutigerltcom-condensed.ttf') format('truetype'),
         url('frutigerltcom-condensed.svg#FrutigerLTCom57Condensed') format('svg');
}
