@font-face {
    font-family: 'FrutigerLTCom47LightCondensed';
    src: url('frutigerltcom-lightcn.eot');
    src: url('frutigerltcom-lightcn.eot') format('embedded-opentype'),
         url('frutigerltcom-lightcn.woff') format('woff'),
         url('frutigerltcom-lightcn.ttf') format('truetype'),
         url('frutigerltcom-lightcn.svg#FrutigerLTCom47LightCondensed') format('svg');
}
