@font-face {
    font-family: 'FrutigerLTCom65Bold';
    src: url('frutigerltcom-bold.eot');
    src: url('frutigerltcom-bold.eot') format('embedded-opentype'),
         url('frutigerltcom-bold.woff') format('woff'),
         url('frutigerltcom-bold.ttf') format('truetype'),
         url('frutigerltcom-bold.svg#FrutigerLTCom65Bold') format('svg');
}
