@font-face {
    font-family: 'FrutigerLTCom55Roman';
    src: url('frutigerltcom-roman.eot');
    src: url('frutigerltcom-roman.eot') format('embedded-opentype'),
         url('frutigerltcom-roman.woff') format('woff'),
         url('frutigerltcom-roman.ttf') format('truetype'),
         url('frutigerltcom-roman.svg#FrutigerLTCom55Roman') format('svg');
}
