@font-face {
    font-family: 'FrutigerLTCom45Light';
    src: url('frutigerltcom-light.eot');
    src: url('frutigerltcom-light.eot') format('embedded-opentype'),
         url('frutigerltcom-light.woff') format('woff'),
         url('frutigerltcom-light.ttf') format('truetype'),
         url('frutigerltcom-light.svg#FrutigerLTCom45Light') format('svg');
}
